<div class='messages'>

  <div>abc</div>

  <form>
    <label for='message'>Message</label>
    <input id='message' />
    <button type='submit'>
      Send data for test
    </button>
  </form>
</div>